
<%= form_with model: @user, url: login_path, method: :post, class: "border rounded p-4 mt-5" do |form|%>
  <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <div class="mb-3">
    <%= form.email_field :email, placeholder: "Email", class: "form-control" %>
  </div> 
  <div class="mb-3">
    <%= form.password_field :password, placeholder: "Password", class: "form-control"%>
  </div> 
  <div class="mb-3 d-flex justify-content-between pe-5">
    <%= form.submit method: :post, class: "btn btn-primary" %>
    <div class="form-check">
      <%= form.check_box :remember_me, class: "form-check-input" %>
      <%= form.label :remember_me, "Remember me", class: "form-check-label" %>
    </div>  
  </div>
<% end %>    
