<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "Fun Poll", root_path, class: "navbar-brand"%>
          <ul class="navbar-nav">
            <% if current_user%>
              <li class="nav-item">
                <p class="nav-link text-primary"><%= current_user.username %></p>
              </li>
              <li class="nav-item">
                  <%= link_to "My Poll", polls_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <% if allowed_to?(:destroy?, :session)%>
                  <%= link_to "Logout", logout_path, method: :delete, class: 'nav-link text-dark' %>
                <% end %>
              </li>
            <% else %>  
              <li class="nav-item">
                <% if allowed_to?(:create?, User)%>
                  <%= link_to "Register", registration_path, class: "nav-link text-dark"%>
                <% end %>
              </li>
              <li class="nav-item">
                <% if allowed_to?(:create?, :session)%>
                  <%= link_to "Login", login_path, class: 'nav-link text-dark'%>
                <% end %>
              </li>
            <% end %>  
          </ul>
        </div>
      </nav>