<%= form_with model: @poll, url: poll_new_path, method: :post, class: "border rounded p-4 mt-5" do |poll| %>
   <div class="mb-3">
    <%= poll.text_field :title, placeholder: "Title", class: "form-control" %>
  </div> 
  <div class="mb-3">
    <%= poll.text_area :description, placeholder: "Description", class: "form-control" %>
  </div>
  <div class="row"> 
    <div class="col-6 mb-3 d-flex flex-column">
      <%= poll.label :start_date, class: "form-label"%>
      <%= poll.date_field :start_date, placeholder: "Start date", class: "form-control"%>
    </div> 
    <div class="col-6 mb-3 d-flex flex-column">
      <%= poll.label :end_date, class: "form-label"%>
      <%= poll.date_field :end_date, placeholder: "End date", class: "form-control"%>  
    </div>
  </div>
  <div class="row"> 
    <div class="col-4 mb-3">
      <%= poll.text_field :option_1, placeholder: "Option", class: "form-control"%>
    </div> 
    <div class="col-4 mb-3">
      <%= poll.text_field :option_2, placeholder: "Option", class: "form-control"%>  
    </div>
    <div class="col-4 mb-3">
      <%= poll.text_field :option_3, placeholder: "Option", class: "form-control hidden"%>  
    </div>
    <div class="col-4 mb-3">
      <%= poll.text_field :option_4, placeholder: "Option", class: "form-control hidden"%>  
    </div>
    <div class="col-4 mb-3">
      <%= poll.text_field :option_5, placeholder: "Option", class: "form-control hidden"%>  
    </div>
  </div>
  <div class="row d-flex justify-content-between">      
    <div class="col-3">
      <%= poll.submit "Add poll", method: :post, class: "btn btn-primary" %>  
    </div>
    <div class="col-5">
      <%= poll.button "Add option", class: "btn btn-success", style: "width: 100%;" %>  
    </div>
  </div>
<% end %>    